[2019-10-28 02:30] whoan opened #2 "Push git tag automatically if available"
Currently, the action pushes the image with the image tag specified in `image_tag` or `latest` by default.

I think it would be fine to push an image with a tag equal to the git tag.

[2019-11-06 19:57] #2 closed

[2019-11-15 22:22] aledalgrande opened #4 "Cache not working"
I created a Dockerfile with 3 stages, successfully built and pushed to the Github registry inside a Gtihub action, but at the next run, without having invalidated any of the first layers (tested locally), the build started from scratch.

How does it work? Did I do something wrong?

[2019-11-16 18:19] whoan commented on #4
Could I see your Dockerfile? Maybe it has something to do with the base image (`FROM` line). Try to be as specific as you can with the base image. eg: **alpine:3.10.1** instead of **alpine:latest**.

Do you see the stages also being pushed to the registry?

[2019-11-16 23:25] aledalgrande commented on #4
Hey I actually managed to use cached docker layers without the need of adding an external action, by using the strategy indicated here: https://semaphoreci.com/docs/docker/docker-layer-caching.html

If I do that, it reuses layers correctly.

[2019-11-16 23:25] #4 closed

[2019-11-17 13:15] whoan commented on #4
@aledalgrande I am happy you found the way to do it :)

Anyway, I am still curious why my action didn't work in your scenario. If you are using it in a public repo, could you share the link? So I can see if I find the way to make it work in those scenarios.

Thanks!

[2019-11-18 01:04] aledalgrande commented on #4
Sorry, the repo is private and owned by my employer!

[2019-11-18 04:27] whoan commented on #4
That might be invalidated the cache then. Thanks for the information @aledalgrande!

[2019-11-22 16:25] alban opened #5 "Login on the docker.pkg.github.com registry"
The documentation on this [page](https://github.com/marketplace/actions/build-docker-images-using-cache) suggests it is possible to use docker.pkg.github.com with secrets.DOCKER_USERNAME and secrets.DOCKER_PASSWORD but the documentation does not say how to get those two secrets.

This is contradictory with [this page](https://help.github.com/en/github/managing-packages-with-github-packages/configu

[2019-11-22 17:30] whoan commented on #5
Hi @alban . You should manually set `DOCKER_USERNAME` and `DOCKER_PASSWORD` in your repo settings:

    Settings -> Secrets

with the values

    DOCKER_USERNAME=<your github username>
    DOCKER_PASSWORD=<your personal access token>

More info [here](https://help.github.com/en/github/managing-packages-with-github-packages/configuring-docker-for-use-with-github-packages#authenticating-to-github-pa

[2019-11-22 19:22] whoan commented on #5
Added more info to the README. Closing this. Feel free to reopen if you think I can do something else.
Regards.

[2019-11-22 19:22] #5 closed

[2020-01-07 10:29] julianoes opened #9 "unable to prepare context, Dockerfile not found"
I'm trying this action out in https://github.com/PX4/containers/pull/225 but it doesn't seem to find the context and Dockerfile:

[code]

I started off with a context and a non-default Dockerfile but moved to all defaults now and it is still not working. What am I doing wrong? Have some paths changed?

Thanks!

[2020-01-07 12:18] whoan commented on #9
I can't take a look at it right now, but some things you can test if all the paths inside your Dockerfile are right: eg: `COPY scripts/entrypoint.sh /usr/local/bin/entrypoint.sh` should be changed to `COPY docker/scripts/entrypoint.sh /usr/local/bin/entrypoint.sh`, but if you tried setting `context` and `dockerfile` correctly, that should have worked. Hint: When you set `context`, in `dockerfile`

[2020-01-07 13:34] julianoes commented on #9
:man_facepalming: thanks so much for the quick and helpful response!

[2020-01-07 13:34] #9 closed

[2020-01-07 20:32] gabe565 opened #10 "Add support for build-args"
Currently passing `--build-arg` to the Docker call is not supported, but I could see that being a commonly used feature.

Are there any plans to add support for build-args? I can take a look soon.

[2020-01-07 22:07] whoan commented on #10
Agree @gabe565 . That would be very useful. I can't work on it right now, so if you want to do it, please go ahead.

[2020-01-10 10:01] joshuarobs opened #11 "Does this work with services?"
I have a postgres server that's initialised like this in the yaml file:

[code]

Is it possible to cache this, and if so, how?

[2020-01-10 11:30] whoan commented on #11
The action is meant to cache layers of a docker image, so you need it when you are creating an image from a Dockerfile.

[2020-01-10 11:32] joshuarobs commented on #11
@whoan Thanks, also if you don't mind, why do we need a password for the Docker registry?

[2020-01-10 11:49] whoan commented on #11
You need a password to push docker layers to your docker registry account (eg: your account in https://hub.docker.com/)

[2020-01-10 11:50] #11 closed

[2020-01-11 21:12] whoan commented on #10
I will work on it @gabe565

[2020-01-11 21:48] #10 closed

[2020-01-26 18:16] Dzhuneyt opened #13 "Suggestion: Ability to wrap a Docker Compose stack"
Some functionality suggestions:
* Ability to do the same thing that the action currently does - for all services within a Docker Compose yml file
* Ability to pull/push from a private AWS ECR repo

[2020-02-01 18:14] whoan commented on #13
Thanks for the suggestions @Dzhuneyt . I think both of them would make the action more complex than expected so I am not interested in implementing them. eg: I don't want to install aws-cli only to login to AWS ECR (AFAIK it's the only way) but I can check this again in the future to see if there is a simpler way.

Feel free to submit a PR and we can discuss the trade-off.

Closing this for now.

[2020-02-01 18:14] #13 closed

[2020-02-10 09:01] vanneback opened #14 "Add option to push multiple tags."
Feature Request.
Add option to specify more than one tag. For example i want to push a version tag and latest in one step.

[2020-02-10 11:53] viyullas opened #15 "Cannot login to ECR"
When I try to use your action against the AWS registry (ECR) I get this message:

Error response from daemon: login attempt to https://***.dkr.ecr.eu-central-1.amazonaws.com/v2/ failed with status: 401 Unauthorized

Do you have any running example with AWS? Or is there something than prevents this action to work with it?

Follows my configuration:
    - uses: whoan/docker-build-with-cache-action@v

[2020-02-11 05:00] stephenVertex opened #16 "Can this cache images which are docker pulls?"
Greetings, can this be used to cache a `docker pull` which runs repeatedly as part of a CI/CD.

[2020-02-11 10:55] whoan commented on #14
I like the idea. I can work on it at the weekend. Thanks @vanneback

Feel free to submit PR if in a hurry.

[2020-02-11 10:58] whoan commented on #15
Hi @viyullas . I didn't try with AWS, I thought you need `aws-cli` to login to registry so I didn't want to add more complexity to the script because of that. I can try at the weekend and let you know.

[2020-02-11 11:02] whoan commented on #16
I am not sure if I understand your requirement, but the whole idea of caching is to avoid *building* again. Indeed, this is what this action does, pulls images, to avoid building them again.

Feel free to reopen if necessary. Thanks.

[2020-02-11 11:02] #16 closed

[2020-02-11 11:06] viyullas commented on #15
There is an action to make the login (aws-actions/amazon-ecr-login@v1), but I could not manage to make it work even after executing this action.

[2020-02-11 11:11] whoan commented on #15
Can you successfully  `docker login` to AWS ECR from your console with those credentials? Just to discard any problem with the creds.

[2020-02-11 11:15] viyullas commented on #15
You don't "docker login" to ECR, you have to login using aws-cli and then you can interact with ECR again using aws-cli
I am using another action that seems to do the trick "devmasx/cached-docker-build-push"

[2020-02-11 11:18] whoan commented on #15
Yes, that was my guess, that you can't login to AWS ECR with `docker login`. For that reason, this action doe snot support to login to ECR for the moment.

Maybe in the future. I am glad you found that action to make it work. Thanks.

Closing this one.

[2020-02-13 13:43] StiviiK opened #17 "build_extra_args not working properly"
Hi,
I am trying to change an argument (`ARG` instruction) in my Docker file but setting `build_extra_args: "--build-arg=BRANCH=beta"` will be ignored and the argument won't be changed. Build the image locally with the build-arg works fine.

[2020-02-13 14:36] #17 closed

[2020-02-17 09:54] GrosQuildu opened #18 "Disable pull option"
Cool actions, thanks for it.

But I wonder if there is option to build and push images without pulling them first from the repo? For one action run of course, just to rebuild images from scratch. Question due to the problem of running out of memory when both pulling old images and rebuilding new.

And I can't clear the registry manually, but why is a longs story ;)

[2020-02-17 10:37] GrosQuildu commented on #18
See #19

[2020-02-17 10:39] GrosQuildu commented on #18
Also may be useful with `if` statements in the workflow, i.e. to rebuild master once a week.

[2020-02-20 21:46] jackgerrits opened #20 "Cannot be used for CI from forked repos"
This action requires a username and password to be used. However, GitHub actions does not support accessing secrets when building PRs from a fork. Therefore this action will fail to be used as a PR status check.

Since the password is only used for publishing to the cache is it possible to add support for just downloading and building from cache. Then the password would at least not be needed?

[2020-02-21 11:07] whoan commented on #18
Closed by #19

[2020-02-21 11:07] #18 closed

[2020-02-21 11:13] whoan commented on #20
Good suggestion. Let me take a look at it in the following days. Thanks.

[2020-02-23 13:30] #20 closed

[2020-02-23 14:35] whoan commented on #14
@vanneback If you have a git tag in the commit you are using to build, it will be also pushed, besides the tag you provide in `image_tag`. Doesn't that help?

[2020-02-26 19:44] mmattosr commented on #15
Actually its possible tu use this aproach: https://aws.amazon.com/pt/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/

I'll try to make a PR in my free time with this.

[2020-03-02 11:00] shunkakinoki opened #22 "push_git_tag not working"
First of all, thanks for the amazing action!
Was looking for the github action just like this,

My problem is that the `push_git_tag` option not working on publish.
Steps to reproduce:

workflow: https://github.com/shunkakinoki/notebook/runs/479346027?check_suite_focus=true
dockerhub: https://hub.docker.com/repository/docker/shunkakinoki/notebook/tags?page=1

[2020-03-02 12:32] whoan commented on #22
Hi @shunkakinoki . Can't take a look now, but please be sure you are using latest version of the action (currently: v4) and the git tag needs to be in the last commit of the branch being built. I am pretty sure I tested it and it worked, but I can check again in about 8 hours.

Thanks for using this action.

[2020-03-02 13:09] shunkakinoki commented on #22
hi @whoan thanks for the quick response!
it has to be in the `last commit of the branch`, missed this part!
resolved now, thanks for everything~

[2020-03-02 13:10] #22 closed

[2020-03-02 16:30] jbarop commented on #15
`ecr get-login` is deprecated and got replaced with `ecr-get-login-password`.

This works for me:

[code]

[2020-03-05 23:29] elderapo commented on #14
It would be awesome if it was possible to set `image_tag` option to multiple tags instead of just one ex:
[code]

[2020-03-06 01:06] #14 closed

[2020-03-07 03:02] whoan commented on #15
@jbarop I added your comment to the readme. Thanks!
Closing this.

[2020-03-12 03:28] nolazybits opened #24 "image name/tag not working"
Passing an image name and tag is not working.
[code]

Logs
[code]

Action can be seen in action here
https://github.com/nodebrick/nodebrick/runs/502276509?check_suite_focus=true

Workaround is adding the `--tag` arg in the build_extra_args
`--tag ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_REPOSITORY }}-develop:${{ env.DEBIAN_VERSION }}-${{ env.NODE_VERSION }} `

[2020-03-12 11:30] whoan commented on #24
That happens because your are setting `push_image_and_stages` to `false`. I didn't think the scenario that an image (with its tag) might be used in subsequent job steps, but I want to support that. Will set this issue as an improvement and work on it.

Thanks @nolazybits

[2020-03-12 11:48] whoan commented on #15
I think there should be an easier way. I am going to give a try whenever I have some free time. Feel free to work on it.

[2020-03-13 00:18] #24 closed

[2020-03-15 02:58] james-song commented on #15
maybe, `aws-actions/configure-aws-credentials@v4` is wrong

it should be `aws-actions/configure-aws-credentials@v1`

[2020-03-28 14:46] nshoes commented on #9
@whoan I'm running into the same thing, but I am checking out code beforehand:
[code]
What am I missing?

[2020-03-28 21:08] whoan commented on #9
@nshoes Are you using the action in a public repo? So I can check further to see what is happening. Thanks.

[2020-03-29 20:37] nshoes commented on #9
I'm not :( Need anything from the `yml` file or logs from the action?

[2020-03-29 22:28] whoan commented on #9
Logs from the action would be fine @nshoes

[2020-03-30 03:46] nshoes commented on #9
Here you go!
[code]

[2020-03-30 22:53] whoan commented on #9
@nshoes You have the Dockerfile file in the root of your project, right?

[2020-03-31 03:33] nshoes commented on #9
Hm, I'm thinking I see the issue now. We have three Dockerfile's, all in `/docker/{service_name}/Dockerfile`. I'm assuming I have to set the `context` to the folder that Dockerfile is in, correct?

[2020-03-31 03:36] nshoes commented on #9
Got it! Sorry, I think I tried setting `context` before but I obviously did it wrong, my apologies.

[2020-03-31 05:05] nshoes opened #26 "New to Docker, a few questions"
Howdy! I have a few questions about this tool. I'm newer to Docker, so please bear with me and forgive me if I'm not clear or asking an obvious question.

- If I don't use a multi-stage build, are my images cached?
- If I have `push_image_and_stages: false`, are my images cached?
- If I have `push_image_and_stages: false` and no credentials for a registry, are my images cached?
- If I'm using imag

[2020-04-01 01:18] whoan commented on #26
Hey @nshoes . These are my answers:

Yes

No, because what we actually push, is the cache. It works pushing every stage and the final image as cache. Then, in further builds, it pulls every cached image (stages included) so docker recognize some steps already exist and and it does not run the steps again (ie: it uses the cached steps).

Did you mean `true` here? Anyway, your images won't be cached

[2020-04-03 14:37] nshoes commented on #26
Awesome, thanks for clarifying!

[2020-04-03 14:37] #26 closed

[2020-04-06 08:35] vanneback commented on #14
Thanks for the fix @whoan!

[2020-04-11 17:32] #15 closed

[2020-04-12 20:57] hos commented on #4
Hi. First thank you for your work on this. Cache seems not working in my case can you help me with finding the reason?
 Here is the `Dockerfile`

[code]

[2020-04-12 23:43] whoan commented on #4
Hi @hos. Is it a public repo? So I can see the logs of the workflow. Can you see in which line you see the cache is not working? I mean, which is the last step where you see ` ---> Using cache` (if any)?

[2020-04-13 00:00] hos commented on #4
It's private repo, but here is the [log file online](https://pipelines.actions.githubusercontent.com/wfQP6L2qgYmFfEawjiJaMaehA16aha0u0Mfg7TtccuVwh9DVGj/_apis/pipelines/1/runs/539/signedlogcontent/3?urlExpires=2020-04-12T23%3A54%3A51.7288172Z&urlSigningMethod=HMACV1&urlSignature=9hLLTbVinaM%2FYP7n%2FX16uH4C6NykUZ2frmpTL03v1P0%3D) and the downloaded [logs](https://file.io/ZOIKBX).
Do you think this

[2020-04-13 01:04] whoan commented on #4
I am not being able to access those links: uri expired and 404 error. Could you double check please?

[2020-04-13 01:13] hos commented on #4
Sorry about that. Please check [this one](https://wetransfer.com/downloads/39972e25d868a4a12ce16d2c0e6b370520200413011213/cb911e5081718deb08169a332c45f05b20200413011231/721068).

[2020-04-13 16:05] whoan commented on #4
@hos Cache is working as I can see several **Using cache** lines. Then, in one layer, `./@app/server/package.json` file is invalidating further docker steps:

    2020-04-12T20:49:34.2917516Z Step 10/22 : WORKDIR /usr/src
    2020-04-12T20:49:35.1731575Z  ---> Using cache
    2020-04-12T20:49:35.1732343Z  ---> b06303a690fe
    2020-04-12T20:49:35.1732822Z Step 11/22 : COPY ./@app/server/package.js

[2020-04-13 16:12] hos commented on #4
@whoan Yes I see what you mean. But I just checked again, just changed only another js file and cache is still invalidated. Maybe this is not related to this package, instead I need to debug with docker itself to see why layers are changed?

[2020-04-13 16:16] whoan commented on #4
@hos Exactly, you can even test it locally for faster feedback with `docker build` as you should see the same problem there. ie: not related to the action.

[2020-04-13 16:17] hos commented on #4
Actually when I build locally it is using layers. So build takes few seconds. Maybe something with registry?

[2020-04-13 16:31] whoan commented on #4
That is interesting. I don't have the answer now, but I would like to do some research to find out how that can happen. I can't dig further now, but I will let you know if I find the answer.

[2020-04-13 16:39] hos commented on #4
Will update you with info if any. Thank you for your help.

[2020-04-16 10:59] whoan opened #28 "Action stops when credentials are not provided or are wrong"

[2020-04-16 16:06] whoan commented on #28
@leo-novu Can I see your workflow file? If you are using AWS ECR, since 4.3.0 now it's easier to login to the registry. I wonder if I introduced a breaking change in 4.2.0 or 4.3.0.
Since 4.2.0 you need to explicitly set `push_image_and_stages` to `false` if you don't provide the right credentials and don't expect the action to push the image and stages.

[2020-04-16 17:04] leo-novu commented on #28
I dont believe the credentials are wrong.  In the previous actions that setup the credentials and login to ECR work.

---
name: CI
on: [pull_request]
jobs:
  Build_Docker_Image:
    name: Build Docker Image
    runs-on: ubuntu-latest
    env:
      ARTIFACTORY_CREDENTIALS: ${{ secrets.ARTIFACTORY_CREDENTIALS }}
    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS Credentials

[2020-04-16 17:44] whoan commented on #28
Could you please try with this @leo-novu ?:

[code]

[2020-04-16 21:16] leo-novu commented on #28
Same results
[code]

[2020-04-16 21:43] whoan commented on #28
Don't know why I see this `username: AWS`, which seems wrong, but maybe is only how it is shown in the logs.
OK @leo-novu , I will take a closer look at it as soon as I can. Thanks for your tests.

[2020-04-16 22:01] whoan commented on #28
@leo-novu Another question to track the problem. Didn't it work for you with v4.2.0?

[2020-04-17 02:30] whoan commented on #28
I could not reproduce @leo-novu . Look at this run: https://github.com/whoan/docker-images/runs/594127068?check_suite_focus=true

The only way I could reproduce was setting wrong credentials, as you can see here: https://github.com/whoan/docker-images/runs/594068519?check_suite_focus=true

BTW, I set last version as v5.0.0 to avoid breaking existent workflows using v4. But I still wonder why it do

[2020-04-17 02:57] whoan commented on #28
Closing this one as I can't reproduce. Feel free to open if you are sure there is something to fix in the action. Thanks.

[2020-04-17 02:57] #28 closed

[2020-04-17 02:59] whoan opened #29 "image_name could be optional, using the repo name by default"

[2020-04-17 03:13] juniorb2ss commented on #28
@whoan

I have same issue:

[code]

[code]

I'm testing using `act`.

[2020-04-17 03:18] whoan commented on #28
Please use v5 @juniorb2ss

[2020-04-17 06:44] cmagorian opened #30 "401 Unauthorized"
`Error response from daemon: login attempt to https://***/v2/ failed with status: 401 Unauthorized`

I've went ahead and ran the commands in `entrypoint.sh` manually to ensure that the credentials are valid. They are fine.

Evaluation of the registry endpoint succeeds in determining that it is an ECR endpoint, so I should be falling into the right docker login with aws ecr.

Not sure where else to

[2020-04-17 08:43] ivosequeros commented on #30
Same issue here

[2020-04-17 08:48] ivosequeros commented on #30
There seems to be an issue with the docker login.
https://aws.amazon.com/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/

[2020-04-17 09:59] jbarop opened #31 "Release Stability"
Hi,

our builds failed because of breaking changes in `docker-build-with-cache-action@v4`. I narrowed the version to `docker-build-with-cache-action@v4.3.0`. This worked fine yesterday, but today this release is gone.

As we require to have stable builds it would be nice, if there would be stable released versions.

[2020-04-17 10:05] ivosequeros commented on #30
https://github.com/whoan/docker-build-with-cache-action/pull/32

[2020-04-17 11:29] whoan commented on #31
Hi @jbarop . You are right, and I apologize for that. What I didn't see when I released v.4.30 is that I could break existent workflows which were using **v4** and the old method to login to AWS ECR.

I should have released v5 instead of v.4.3.0 from the beginning .

Please use **v5** instead of **v4.3.0** (which have the same changes), mainly if you want to use AWS ECR.

[2020-04-17 11:32] #31 closed

[2020-04-17 12:01] #30 closed

[2020-04-17 12:09] whoan commented on #28
Fixed by #32

[2020-04-17 16:00] cmagorian commented on #30
Thanks @ivosequeros !

[2020-04-19 15:33] whoan commented on #29
Each registry has its own rules for the image name. Namely: with or without namespace. I am not going to implement this because of the little value it would add.

[2020-04-19 15:33] #29 closed

[2020-04-22 13:20] gaugau3000 opened #33 "Feature : option to use build stage name instead of number for the tag of image stages"
Hi,

[User story like] :
As a developer
I would like to use intermediate images of multi-stage built during continuous integration using the stage name (e.g : _myimage_-stages:test instead of _myimage_-stages:3 if i need to use it later in ci)
So that i can add stages in my dockerfile without breaking ci.

[Gherkin]
Given my dockerfile used [named build](https://docs.docker.com/develop/develop-ima

[2020-04-28 18:51] cranberyxl opened #35 "Build/cache in github, deploy to ECR"
Can I do the building and caching in Github registry and then push the final product to ECR?

[2020-04-28 21:35] whoan commented on #35
@cranberyxl I think that would be a very good feature to have. I will work on this when I have some time. Maybe this weekend.

Thanks.

[2020-04-29 04:28] abrkn opened #36 "Add image identifier as an output"

[2020-04-29 04:54] abrkn commented on #35
I'm looking to do the same, but Github registry only gives me 2 GB under the Team plan.

[2020-04-29 12:00] asbjornu opened #37 "Run container before publishing"
This looks like a neat action, but I would like to test that the built container works before publishing it. Would it be possible to do `docker run` and only publish if that succeeds?

[2020-05-03 15:28] whoan commented on #36
Could you please add more information @abrkn ?

- Do you need what the function `_get_full_image_name` prints in entrypoint.sh script? as you provide the image name and registry (optional) to the action, I don't see why _returning_ the image identifier as an output would add value. But maybe I am just not getting what you mean by image identifier
- If you have a use case for this, that would be re

[2020-05-03 23:31] whoan commented on #36
After some changes on master branch, now I see why using the image name as the output of the action might be useful. @abrkn please see if #38 is what you are looking for.

[2020-05-03 23:33] whoan commented on #33
I like the suggestion. I will take a look. Thanks @gaugau3000

[2020-05-04 03:58] whoan commented on #33
I think a full implementation of this would need to have a mechanism to clean old stages in case you rename one, to avoid the stage to stay in the registry forever.

I am not sure now if I am going to merge the changes I have made so far to master. For the moment, you can use [name-stages branch](https://github.com/whoan/docker-build-with-cache-action/tree/name-stages).

[2020-05-04 04:02] whoan commented on #35
I think the best approach would be to allow setting a different registry (any) for the stages, allowing to set username and password too. Maybe using more optional input:

- stages_username
- stages_password
- stages_registry

If they are not provided, it will use the same registry of the main image.

[2020-05-04 04:05] whoan commented on #37
Maybe a new input like `publish_if` which allows you to run an arbitrary command would be a one-size-fits-all solution. I will think about it when I have some time.

Thanks for the suggestion.

[2020-05-10 19:08] whoan commented on #36
Closed by #38

[2020-05-10 19:08] #36 closed

[2020-05-10 20:05] #37 closed

[2020-05-10 21:48] whoan commented on #35
As I said, I think allowing only GitHub for the stages is not the way to go, for the current restrictions in the amount of data we can save.

Not doing for the moment as it would change the action code too much. I can take a look again for newer versions of the library if there are more people interested in this feature, which is a good one BTW.

I was also thinking about something more flexible l

[2020-05-10 21:48] #35 closed

[2020-05-10 21:54] whoan commented on #37
@asbjornu You can now use the same `push_image_and_stages` tag to test a command before pushing (ie: it will push only if the command succeed):

    push_image_and_stages: docker run my_awesome_image:latest

[2020-05-10 22:20] asbjornu commented on #37
Sounds great, @whoan! Thanks! 🙏

[2020-05-13 17:18] BowlingX opened #42 "Proplems with mixed case github usernames"
Hi :) thank you for this action.

I'm getting an error during pushing. It seems like the repository name has to be lowercase and my github username is not lowercase and this is causing an issue:

[code]

I guess the issue is here: https://github.com/whoan/docker-build-with-cache-action/blob/master/entrypoint.sh#L67. It should lowercase the string.

[2020-05-13 17:20] BowlingX commented on #42
Nevermind, I think it's allready solved by https://github.com/whoan/docker-build-with-cache-action/pull/41.

[2020-05-13 17:35] whoan commented on #42
Hi @BowlingX . I will bump later today. Sorry for the inconvenience.
Thanks for reporting.

[2020-05-13 20:01] bubenkoff opened #43 "ECR: Allow passing AWS_SESSION_TOKEN"
This is needed to use role assumption vs direct IAM user permissions
thanks

[2020-05-14 01:00] whoan commented on #42
Bumped [v5.3.1](https://github.com/whoan/docker-build-with-cache-action/releases/tag/v5.3.1) with the fix. Regards.

[2020-05-14 01:00] #42 closed

[2020-05-15 01:16] #43 closed

[2020-05-19 08:45] abrkn commented on #35
I've spent a lot of time working on stage caching for a CI/CD that had crept up to 30 minutes. I highly recommend storing layers on GitHub's registry. It's more expensive than others, but much quicker and you won't have to pay for traffic.

[2020-05-27 08:21] bgaillard opened #48 "Document several limitations"
Hi, i'm trying to migrate one of our Docker builds to Github Actions and would like to use Docker caching features to improve our build times.

We currently have a fat Multi-stage Dockerfile with 9 stages, I encountered several limitations and think those should be documented in the project (unless somebody found workaround to prevent those limitations).

Here are what I propose to be documented.

[2020-05-27 11:46] whoan commented on #48
HI @bgaillard . Thanks for letting me know of these limitations.

## First limitation

I will take a look at it as I think it can be solved and I just need to spend some time on it. Let me find some spare time to dig into it, or feel free to submit a PR.

## Second limitation

In [this branch](https://github.com/whoan/docker-build-with-cache-action/tree/name-stages), I worked in a proposal to tag

[2020-05-27 12:00] bgaillard commented on #48
Hi @whoan and thanks for your reactivity on this case.

I will take a look at it as I think it can be solved and I just need to spend some time on it. Let me find some spare time to dig into it, or feel free to submit a PR.

With Buildkit its possible to use cache exporters, so immediately I'm not sure it would be interesting to pass to much time to support Buildkit inside this action.

I'm thinki

[2020-05-29 11:37] whoan commented on #48
Hi @bgaillard. I was trying to use Buildkit built-in cache exporter with no success. My idea is to replace current functionality and use Buildkit built-in feature through a flag to activate it; something like `experimental: true`, as I (still) could not find a way to parse buildx output correctly.

As I am currently not having too much time to work on this, I added the limitations to the readme so

[2020-05-29 11:37] #48 closed

[2020-05-29 21:06] bgaillard commented on #48
Hi @whoan and thanks for the time you took to test this feature.

You conclusions makes sense to me, Buildkit changes the output in such a way it's not possible to pick the steps in the output.

For those who would like to use Builkit for caching it's now possible to build an image while both importing / exporting Docker cache before / after the build automatically.

For example using it inside a

[2020-05-29 22:58] whoan commented on #48
No problem @bgaillard.

Today I stayed thinking of this limitation and I came up with another idea I would like to try as soon as I have time. Namely:

- If you use Buildkit, do your build as you wish, but the action should flag that Buildkit was used
- After such a build, check the flag, and if set to true, run docker build again without Buildkit activated and parse the output as usual (at this s

[2020-06-05 09:46] riker09 opened #49 "Use 7 chars of GitHub SHA in tag name"
I want to tag my images with the first 7 characters of the Git(Hub) SHA.

After looking through the issues here I came across https://github.com/whoan/docker-build-with-cache-action/issues/28#issuecomment-615014124 and came up with this (simplified) GitHub Actions workflow:

[code]

This results in this error:

[code]

[2020-06-05 10:22] riker09 commented on #49
I have found a workaround [here](https://github.community/t/add-short-sha-to-github-context/16418/11).

It consists of creating output with an additional step and using that named output later on:

[code]

[2020-06-10 23:56] emroot opened #50 "Error response from daemon: Get https://gcr.io/v2/: unknown: Unable to parse json key."
I keep getting a parsing error `Error response from daemon: Get https://gcr.io/v2/: unknown: Unable to parse json key.`
What's the best way to store the json in github secrets?
I stored it as `'{"...":....}'`, `"{\"...\": \"...\"}"`, `{"..": ".."}` but no luck.

[2020-06-11 11:51] whoan commented on #50
@emroot I remember I had similar issue and I think it was because I was copying the json from my console. Please try openyng the json with a visual editor and copy the json from there to github secret. Don't remember well now, but I can try to reproduce later and will let you know.

[2020-06-11 19:06] emroot commented on #50
tried no luck.
I tried the following:
entering my json key as this: `'{"...."}'`, I added the single quotes in my github secrets.
When I use your library, it doesn't work. However if I run the following:
`- run: echo ${{ secrets.GCLOUD_JSON_AUTH }} | docker login -u _json_key --password-stdin https://gcr.io` → succeeds
`- run: echo '${{ secrets.GCLOUD_JSON_AUTH }}' | docker login -u _json_key --pa

[2020-06-13 02:22] whoan commented on #50
@emroot

- Didn't it work with [this change](https://github.com/emroot/docker-build-with-cache-action/commit/22675452831032a5333df26b62dfb565ad40149a#diff-b958f585a04af5ee2087610ea7180f34R157) you made?
- Are you using the action in a public repo so I can see the workflow and the action logs?
- When you save the json as a GitHub secret, in the `private_key` field, do you save `\n` or actual new li

[2020-06-13 02:30] whoan commented on #49
Hi @riker09 . I am glad you found the workaround. I would have to expand twice with `eval` to use the `env` approach.

Do you still think it would be nice to have such a feature? I think your workaround is more flexible.

[2020-06-13 06:38] riker09 commented on #49
Nah, like I said I believe that this workaround will suffice. Thanks for coming back, though.

[2020-06-13 06:38] #49 closed

[2020-06-22 04:44] JustinGrote opened #51 "Use to precache container actions?"
Hello,

I have this working and it downloads and works with cached images just fine using docker.
However, it appears for whatever reason the images don't stay cached on the runner, so when I try to run an image that uses the same dockerfile, it doesn't pull from cache and builds again.

Here is the example:
https://github.com/JustinGrote/Super-Duper-Linter/actions/runs/143165760/workflow
https://

[2020-06-22 21:43] whoan commented on #50
Closing this for lack of information. Feel free to open if still an issue.

[2020-06-22 21:43] #50 closed

[2020-06-22 21:57] whoan commented on #51
@JustinGrote When you say that you run an image that uses the same dockerfile, I assume you are trying to build again without this action, so I wonder if you are passing the `--cache-from` switch to `docker build` which is needed to specify where to take cached from. That is what this action does: provide a list of caches to read from through `--cache-from`.

[2020-06-22 21:59] JustinGrote commented on #51
@whoan I'm just trying to use the native Github Actions runner with a dockerfile specified

I worked around it by manually specifying the docker run command to use the tagged 'my_awesome_image' that gets built, I don't think there's a way to specify extra docker commands to an action, so I guess it'll have to do for now.

[2020-06-22 21:59] #51 closed

[2020-06-23 01:42] JustinGrote commented on #51
@whoan I found a way to make this work while still running it as a native github action. You set up a test github action config and point it to the my_awesome_image container when running, and it will pick up the locally built container and run it rather than having to try to fetch it again or operate on a new dockerfile which doesn't pick up the cached stages.

Works great! Thanks for the awesome

[2020-06-23 23:57] fabio-d opened #52 "Please warn that GitHub Registry public packages cannot be removed/replaced"
Hello,
thanks for your effort in implementing this much needed action.

I have used it with GitHub's registry in a private test repository, and it worked.
However, when I tried to use it in a public repository, I was disappointed to find that it is impossible to neither update nor delete the cache. Not because of a bug of this action, but as a result of GitHub's controversial "[immutable public re

[2020-06-24 00:02] whoan commented on #52
Hi @fabio-d . I like your suggestion. Could you please add it in the readme? I can do it later, but feel free to open a PR.
Thanks!

[2020-06-25 00:32] whoan commented on #52
Closed by #53

[2020-06-25 00:32] #52 closed

[2020-06-29 11:18] whoan commented on #33
As this change will create more versions of the *-stages images and due to GitHub's policy stated in #52 , I am going to hold off on this one. In addition, #51 made me think that you won't be able to use the *-stages images on further steps of the action; maybe I misunderstood the issue though.

I will close for the moment but If there are more people interested in this feature, feel free to open

[2020-06-29 11:18] #33 closed

[2020-06-30 13:35] alepez opened #54 "Image is not pushed if `on:push` is disabled"
I have a scheduled workflow:

[code]

When the workflow runs, the image is built but not pushed.Here a log:

[code]

I guess it's `_must_push` function returning false:

[code]

Is this the expected behavior? I find it confusing.

[2020-07-01 10:30] whoan commented on #51
@JustinGrote I think that using the `FULL_IMAGE_NAME` would also work. It is an output of the action. It is the fully qualified image name, with the registry prefixed.

[2020-07-01 11:15] whoan commented on #54
Hi @alepez . I documented the `on:<event>` special flags to show how to use them. So far, those were kind of hidden features, and I am not sure why I didn't documented them before.

In a nutshell, that is NOT something you can disable, but you can set, for example, `push_image_and_stages: on:push` to push only if the workflow was triggered by a push. It is specially useful when your workflow can b

[2020-07-01 11:37] alepez commented on #54
Thanks @whoan. Now I think this wasn't an issue at all. I've just reviewed my workflow now and it seems I was inspecting the wrong github action log. When I was looking for the reason of the image not being pushed I thought it was `INPUT_PUSH_IMAGE_AND_STAGES` not being under my control (and being `on:push` for some reason). The `_must_push` function was even more confusing because `INPUT_PUSH_IMA

[2020-07-01 11:37] #54 closed

[2020-07-01 11:44] alepez commented on #54
By the way, I'm sure it's not related to your action, but in my repo's GitHub Packages, the package "Recent version" is always displaying the date of the first push, but when i pull it, I get the version I just built with `docker-build-with-cache-action`.
It seems to be a GitHub bug. but I cannot find any bug report about it. Do you know anything about this issue?

[2020-07-01 11:53] whoan commented on #54
I don't know the reason of such an issue, but I agree that it seems a GitHub bug. As an example, in [the packages of a repo I use to test this action](https://github.com/whoan/hello-world/packages/209710), I also see misleading numbers.

I am glad you found the way to solve your issue, and you forced me to improve the readme :). Thanks!.

[2020-07-16 04:47] rawatnaresh opened #55 "INFO: Won't be able to pull from private repos, nor to push to public/private repos"
I've been trying to push my docker image to the private docker hub repo. But it's saying it cannot push to the private repos. Does my repo have to be public to use this?
i'm using `docker-build-with-cache-action@v5`

[2020-07-16 10:56] whoan commented on #55
@rawatnaresh You can as long as you provide valid credentials. That log is shown when you can't login to the registry whatever reason.

[2020-07-16 10:56] #55 closed

[2020-07-16 15:31] nloui opened #56 "Multiple tags not working?"
I've setup my config to push multiple tags on subsequent builds:
[code]

But it appears that the "latest" tag doesn't ever update.  New builds push out with the new github sha.  Am I missing something?

[2020-07-18 23:17] whoan commented on #56
Can I see some logs @nloui . How do you know doesn't ever update?

I gave it a try in a repo I have for tests and it seems it's working: https://github.com/whoan/hello-world/runs/885825489#step:4:92

[2020-07-23 00:37] whoan commented on #56
Closing as I couldn't reproduce. Feel free to open if it happens in some uncovered scenario.

[2020-07-23 00:37] #56 closed

[2020-07-28 01:46] acrogenesis commented on #49
You are missing a `$` on your workaround code.
`image_tag: "latest,foo-${{ steps.slug.outputs.sha7 }}"`

Thanks!

[2020-08-03 05:20] quoimec opened #57 "Clarification on cache location"
Hello! I've started using this action but I've been left slightly confused as to it's purpose and how it actually functions and was just wondering if you could clarify a few points for me please?

I'm mainly confused as to the cache location that is being used for the Docker images - is it using the Github repository cache? Or is it using the docker-stages images that get created when this action

[2020-08-03 12:31] whoan commented on #57
Hi @quoimec . The cache is sent to the registry you configure in the action inputs, and you can choose GitHub like this:

    - uses: whoan/docker-build-with-cache-action@v5
      with:
        username: whoan
        password: "${{ secrets.GITHUB_TOKEN }}"
        registry: docker.pkg.github.com
        image_name: hello-world

The cache are the tagged _*-stage_ images. If most of your build time

[2020-08-03 12:39] quoimec commented on #57
Ah ok all good, looks like this actions is for a different use case then. For reference, this was the GH caching that I was talking about where data is cached in the git repo: https://docs.github.com/en/actions/configuring-and-managing-workflows/caching-dependencies-to-speed-up-workflows. Will have to use the GH action by the looks of it. Cheers anyway and thanks for the reply!

[2020-08-03 12:39] #57 closed

[2020-08-14 09:22] Balgorn opened #60 "Could not set namespace"
Hello!

just wanted to know if I have to change something after the latest changes in the parsing of the namespace.
For me personally the action worked before this change, but now I get 'Could not set namespace' on each build.

Context: I have a registry on gcr and I try to build images with custom tags

Hints and Tips would be appreciated.

[2020-08-14 13:12] #60 closed

[2020-08-14 13:13] whoan commented on #60
Thanks for reporting the issue @Balgorn . It seems like [this commit](https://github.com/whoan/docker-build-with-cache-action/commit/1a6822c74c8f72b31ad41f33d8f03cdd437eda0e) broke it.

[2020-08-14 13:25] Balgorn commented on #60
Seems likely I am no expart in jq.  A hotfix right now is to prefix the image_name with your project Id followed by /

[2020-08-14 13:28] whoan commented on #60
The last version I have just created should fix the issue (v5/v5.4.1). Is it still failing?

[2020-08-14 13:39] Balgorn commented on #60
Yes with the new version it is working again. Thank you!

[2020-08-14 19:14] tsabat opened #62 "Action Step "Pulling Image" works locally in act, but not in action"
Hi, this action seems to do exactly what I want.  And it works via [act](https://github.com/nektos/act), but when I run it in github, the "Pulling Image" step seems to be skipped.  Am I doing something wrong?

Here's my stanza

[code]

In act (locally) the image pulls work

[code]

But when I run this in github, the image pull process seems not to happen.

![Screen Shot 2020-08-14 at 12 10 19](htt

[2020-08-14 19:38] whoan commented on #62
Could you login successfully when you run on GitHub?

[2020-08-14 19:47] tsabat commented on #62
In github, the login for ECR works, because later in the action the images upload:

[code]

[2020-08-14 19:53] whoan commented on #62
Could you please try the action again in GitHub using branch **log-pull-error**?

    uses: whoan/docker-build-with-cache-action@log-pull-error

[2020-08-14 20:16] tsabat commented on #62
Ah, that's it.  Thanks so much.  So the local aws key is a "god" key with no restrictions.  The one we're using in the workflow has restrictions.  The output from that step helps a bunch.

[code]

[2020-08-14 20:21] whoan commented on #62
I see @tsabat . Maybe you need to use a `AWS_SESSION_TOKEN` as in [this example](https://github.com/whoan/docker-build-with-cache-action#aws-ecr)?

[2020-08-14 20:27] tsabat commented on #62
@whoan this worked great.  My policy needed tweaking in IAM and this action was not providing the feedback I expected.  Can you merge this branch into master so the next person with permission issues does not bump into this trouble?

Thanks again for the workflow and the help.

[2020-08-15 00:13] #62 closed

[2020-09-01 19:55] TanAidan opened #64 "Specify ECR repository name"
Is there a way to specify the specific ECR repo that we want to pull/cache/push the docker to?

[2020-09-02 03:13] whoan commented on #64
@TanAidan Currently, you can't specify custom repos, it uses the `image_name` and appends `-stages` for the stages.

[2020-09-05 14:50] whoan commented on #64
This is not going to be implemented for the moment so I am closing this. Feel free to reopen if it becomes a must for some scenarios.

[2020-09-05 14:50] #64 closed

[2020-09-08 13:28] peterbe opened #65 ""denied: Resource not accessible by integration""
First of all, it might be user error because I don't quite understand the `username` part.

I'm trying to use this action like this:

[code]
And it works when I use `push_image_and_stages: false` but that's cheating because that's not actually pushing anything.

We're developers of an organization. The organization is github.com/mdn and I tried putting the `username` to `mdn` but I also tried sett

[2020-09-08 13:29] peterbe commented on #65
[According to this documentation](https://docs.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token#permissions-for-the-github_token) the `GITHUB_TOKEN` should have write access to `packages`.

[2020-09-08 14:54] whoan commented on #65
Hi @peterbe . I can take a look at this later today. The only thing to mention is that it seems to be a problem with permissions.
I will try to create an organization and try the action there as I think I didn't test such a scenario. Could you please check the permissions under Settings > Actions > Actions permissions ?

[2020-09-08 18:01] whoan commented on #65
@peterbe I tested both with my user and with a company's user and it worked with both of them:

- https://github.com/whoan-company/hello-world/runs/1087325476 ([action example](https://github.com/whoan-company/hello-world/blob/master/.github/workflows/git-hub.yml))
- https://github.com/whoan-company/hello-world/runs/1087342553 ([action example](https://github.com/whoan-company/hello-world/blob/cha

[2020-09-08 18:06] peterbe commented on #65
<img width="710" alt="Screen Shot 2020-09-08 at 2 05 21 PM" src="https://user-images.githubusercontent.com/26739/92512177-66eb0980-f1dc-11ea-834a-6f47b34ffcb2.png">

[2020-09-08 18:07] peterbe commented on #65
Could it be because my PR is from fork `peterbe` to master inside the upstream `mdn`. I'll try to make a PR within the repo rather than from a user to an org.

[2020-09-08 18:36] peterbe commented on #65
In my experiment, I was trying to *push* to the GitHub Container Registry from within a PR (fork:topic-branch to origin:master). Perhaps that just isn't allowed and it's just sad that the error message isn't better.

In reality, what we're hoping to end up is that we'll only *push* to the registry on commits to `master` but all the various PRs from people *to* the `origin/master` will be using *re

[2020-09-08 18:49] whoan commented on #65
@peterbe  what about this in your workflow:

    on:
      push:
        branches:
          - master
      pull_request:
        branches:
          - master

and this in the action:

    push_image_and_stages: on:push

[2020-09-08 21:06] ylavoie opened #66 "Cache with matrix builds"
There should be a way to specify the cache repository name.
I'm trying to build this and only one gets cached
[code]
It could default to the current value but the user should be able to specify it.

[2020-09-08 21:11] peterbe commented on #65
I don't know exactly what I did but now it's kinda working! https://github.com/mdn/kuma/packages/390064
Your action pushed this.

What I now need to figure out is how to actually use it in consecutive `docker-compose build`.

[2020-09-09 01:15] whoan commented on #65
@peterbe Could you please elaborate on those consecutive `docker-compose build`s you need. You need to use the generated image in further actionn steps? If so, notice the action outputs the resulting image name.

[2020-09-09 01:59] whoan commented on #66
@ylavoie I agree. That's something that should be supported. Will work on that. Thanks.

[2020-09-09 02:28] #66 closed

[2020-09-09 14:27] peterbe commented on #65
No, our CI does this:

1. `docker-compose build`
1. `docker-compose run something`
1. `docker-compose run somethingelse`

...for every PR. But the `docker-compose build` takes a long time. So we're hoping we can benefit from `docker-build-with-cache-action` to get the second `docker-compose build` to leverage the docker layer caching.

For example, on my laptop, on a clean docker layer cache, it t

[2020-09-10 11:23] whoan commented on #65
@peterbe This action is meant to read a Dockerfile and build one image at a time. Maybe it's time to support reading a compose file. I will give it a try soon.

[2020-09-12 10:00] whoan commented on #65
@peterbe It seems that supporting to read from a compose file is a big effort and would make the script way more complex.
On the other hand, you can set a step with this action for each image you need to build (based on your compose file), and you should accomplish same functionality. Closing this as I think reading from a compose file shouldn't be mandatory for that reason.

[2020-09-12 10:00] #65 closed

[2020-09-13 19:11] riker09 opened #68 "Use new GitHub Container Registry"
GitHub has released a second Registry, which currently is still in beta and only supports Docker images for now. See [official Migration Guide](https://docs.github.com/en/packages/getting-started-with-github-container-registry/migrating-to-github-container-registry-for-docker-images) for details.

I have tried pushing to it but ran into a timeout. Here's my workflow file (trimmed version):

[code]

[2020-09-13 21:53] whoan commented on #68
Thanks for filing the issue @riker09 . Will work on that.

[2020-09-13 22:34] #68 closed

[2020-09-14 04:19] riker09 commented on #68
Whoan! That was quick. 😄

[2020-09-14 13:19] peterbe commented on #65
Thanks for your help @whoan !
I've come to appreciate that I still have a lot to learn with Docker stuff.

`docker-compose` is just an abstraction (a YAML file) for typing `docker` commands plus that thing that is able to start up multiple containers across a range of ports and stuff.

I'm wondering, since `docker-compose build` is just a wrapper for `docker build` but with the params specified in

[2020-09-16 17:17] arnav13081994 opened #70 "Any plan on supporting docker-compose"
I was wondering if there was any plan to support build images from docker-compose as well?

[2020-09-17 01:50] whoan commented on #70
@arnav13081994 I thought about it and it would need many changes int he code, and as you can accomplish the same creating a step for each image you need to build based on the compose file, I decided it wasn't worth it.

I am not telling I can't change my mind in the future. I will leave this open just in case I have some free time to give it a try and to see if there are more people interested.

[2020-09-17 03:31] JeffJassky opened #71 "COPY commands cached as well?"
Is it expected that stages with the COPY command (IE: COPY ./ ./) will be cached as well?

My newly committed file changes were being ignored in new image builds.

[2020-09-17 04:43] arnav13081994 commented on #70
@whoan Yes, you are right.

[2020-09-17 11:49] whoan commented on #71
Hi @JeffJassky . Could you please elaborate on that or show me an example?
If the COPY command is cached or not, depends more on docker itself than the action.

You are claiming that you expected the cache being invalidated after the COPY command and it didn't happen? or the opposite?
If it is the former, make sure you are not ignoring the newly committed file in .dockerignore.

[2020-09-18 15:05] lehno opened #72 "push_git_tag does not work with ECR"
I can clearly see in the plugin logs it pushes the tag from image_tag but it does not push the git tag.

[2020-09-18 18:03] helloguille commented on #70
@whoan That sounds like a good option that would probably save a lot of headaches. Do you know if I build the images using this action separately, will this cache be used by docker compose afterwards?

[2020-09-21 13:39] lehno commented on #72
I was able to push latest and git tag using `image_tag: latest,${{ github.sha }}`
I had to remove the push_git_tag from my yaml

[2020-09-21 13:50] whoan commented on #72
Sorry I still couldn't see your issue @lehno .
Will definitively take a look at it later today. Thanks!

[2020-09-22 02:26] whoan commented on #72
@lehno Looking at your second comment I think you wanted the action to push the hash of the last commit with `push_git_tag`, right?
`push_git_tag` is meant to push any tag you create with `git tag`, eg: v1.0.0 and the like.

It would be helpful if you have a public repo to see the logs of the action.

[2020-09-22 02:51] whoan commented on #70
I tried to think of the different use cases reading from a compose file and **having multiple images hosted in different registries is not an easy scenario to handle without many changes in the script**.

I still think that it's better to build individually and then the docker-compose build should take advantage of the cache created by the individual builds as long as you use the correct names in

[2020-09-22 10:07] lehno commented on #72
Aahh, I see now, I thought that If I wanted the git.sha image tag pushed, I would need this option set to true. My bad in this case

[2020-09-22 10:07] #72 closed

[2020-09-23 10:08] felipelincoln opened #73 "Feature request: build a single target in a multi-stage image"
First of all, really nice job for making this action, it halved my CI execution time :tada: :tada:
I would like to suggest another optional argument, which is `target`, allowing us to build only a specific stage from the image.

[2020-09-23 10:48] felipelincoln commented on #73
Oh we actually can do it already, using `build_extra_args`. great!!

[2020-09-23 10:48] #73 closed

[2020-09-27 11:25] whoan commented on #71
Closing as no clear what the problem is. Feel free to reopen with more info. Thanks.

[2020-09-27 11:25] #71 closed

[2020-09-30 19:54] xenoterracide opened #74 "support aws-actions"
you should be able to login to aws ecr using the official actions like this.

[code]

[2020-10-01 00:57] whoan commented on #74
Is there any problem with current ecr login? You should be able to  log in like this:

    - uses: whoan/docker-build-with-cache-action@v5
      with:
        username: "${{ secrets.AWS_ACCESS_KEY_ID }}"
        password: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
        session:  "${{ secrets.AWS_SESSION_TOKEN }}"  # if you need role assumption
        registry: 861729690598.dkr.ecr.us-west-1.amazon

[2020-10-03 12:03] whoan commented on #74
@xenoterracide I think that we should only take advantage of the environment variables **configure-aws-credentials** set, but only to reuse  `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`. Using the registry from the output makes **docker-build-with-cache-action** too dependent of the context IMO.

[2020-10-03 12:53] #74 closed

[2020-10-09 05:14] hackinteach commented on #60
Hi, I'm still facing this issue. I'm using v5 and just tried out v5.7.0 and still not working.

[2020-12-07 11:57] NasAmin commented on #70
hmm, this Action rocks!
But we have a build script that uses `docker-compose` to build mutiple images. I used this action to build individual images but it results in:
* Duplication of the config
* passing multiple build args is a bit hard if you have a lot
* You can't build locally the same way as you would in the CI pipeline. Our build script was designed so it would build and behave the same wa

[2020-12-07 12:08] whoan commented on #70
Hi @NasAmin . Thanks for your feedback.
I promise I will give another chance to this issue in my spare time and will let you know the outcome.

[2020-12-18 15:05] lehno opened #77 "Downloading cache freezing and consuming 10 times for time to build"
I have been using this action for a while and my image takes 2 min to build using cache.
But sometimes I see this:
![image](https://user-images.githubusercontent.com/5764569/102628981-72868e80-4142-11eb-9a35-92bfa4b9e1d3.png)
15 min stuck on some internal function. And GitHub charged me this full amount.
Any ideas?

[2020-12-20 13:37] whoan commented on #77
HI @lehno . I don't understand what it means when you say: _GitHub charged me this full amount_. Could you please elaborate?

I will need more details in order to help. Thanks for using the action :)

[2020-12-20 20:04] whoan commented on #70
@NasAmin @arnav13081994 @helloguille You can test the branch [support-compose-files](https://github.com/whoan/docker-build-with-cache-action/tree/support-compose-files) to see if it works for you. I made [this test](https://github.com/whoan/hello-world/runs/1585636190) and seems to work fine. I will wait for some feedback to merge and release a new version (probably v5.8.0)

[2020-12-20 20:55] whoan commented on #13
@Dzhuneyt Just FYI, your suggestions have been finally implemented:

- Support for AWS ECR; https://github.com/whoan/docker-build-with-cache-action/pull/27
- Support for compose files: https://github.com/whoan/docker-build-with-cache-action/pull/78

[2020-12-20 20:59] whoan commented on #65
@peterbe I have finally added support to compose files: https://github.com/whoan/docker-build-with-cache-action/pull/78
Feel free to check if it fits your needs.

[2020-12-21 19:06] peterbe commented on #65
Cheers! I must admit that I lost my momentum with this work. But by the time I get back into it, perhaps your PR will have been merged and release :) Looking forward to it!

[2020-12-23 11:49] whoan commented on #77
@lehno  I hadn't noticed in your image the 15 minutes of difference between "Pull complete" and the "Verifying checksum" steps.
I don't know what is going on there but I am pretty sure it has nothing to do with this action.

Do you know which image is downloading when it happens? Maybe the image is huge and it takes a lot of time to do the checksum according to how loaded GitHub servers are; I am

[2020-12-23 11:49] #77 closed

[2020-12-23 16:07] lehno commented on #77
Hey, the image is 89Mb, it happens every lets say 20 deployments. The only info I have is line 88 to 89. It was there for 15 min, it can be a Github problem I agree. Just posted here because maybe someone else had a similar problem or you could have some thoughts about it. For me the biggest problem is the time I'm paying to Github Actions when this happens.

[2020-12-23 20:10] #70 closed

[2020-12-28 22:08] AntoineAugusti opened #79 "Support for AWS ECR public registry"
Hello!

Thanks for this nice action. Following #27, would it be possible to support AWS ECR public registry? This has been launched in [December 2020](https://aws.amazon.com/about-aws/whats-new/2020/12/announcing-amazon-ecr-public-and-amazon-ecr-public-gallery/).

The relevant documentation is here: https://docs.aws.amazon.com/AmazonECR/latest/public/public-registries.html#public-registry-auth

Th

[2020-12-28 22:38] whoan commented on #79
Hi @AntoineAugusti . Yes, I this AWS ECR public registry should be supported. Let me give it a try at the weekend.

Thanks

[2020-12-29 14:53] AntoineAugusti commented on #79
That's fantastic! If you're short on time, tell me. I should be able to write up a PR in January for this.

[2020-12-29 20:42] whoan commented on #79
I took a look at it and it seems like an easy change. My only concern is that I need to find some way to get the AWS region when we use ECR public. In the private one, I was taking the region from the INPUT_REGISTRY variable, but in the public one it's not present anymore: public.ecr.aws

[2020-12-29 20:44] AntoineAugusti commented on #79
The [documentation](https://docs.aws.amazon.com/AmazonECR/latest/public/public-registries.html#public-registry-auth) says that the authentication should always be done on `us-east-1`

[2020-12-29 20:47] whoan commented on #79
That is great news @AntoineAugusti . Thanks for your quick reply!

[2020-12-30 21:54] whoan commented on #79
I could not finish this feature yet because I am having an issue pulling all tags from public ECR.

This works:

    docker pull public.ecr.aws/p6n4p0s0/hello-world:latest

But this doesn't:

    docker pull --all-tags  public.ecr.aws/p6n4p0s0/hello-world

I will try to give it another try before 2021!

[2021-01-02 18:17] #79 closed

[2021-01-04 16:02] whoan commented on #79
Hey @AntoineAugusti . Could you give v.5.9.0 a try? I added support to AWS ECR Public and it was trickier than expected but acoording to [this test](https://github.com/whoan/hello-world/runs/1635059562) it is working now.

Feel free to reopen this issue if you find any issue.

[2021-01-04 16:17] AntoineAugusti commented on #79
@whoan Thanks for implementing this quickly! I'll report it here as soon as I can

[2021-01-06 10:53] Morriz opened #81 "COPY command results seem to get cached"
Strangely we don't see our new source code being copied over the cached version when building. What could be going on? This has started about a month ago, and we have not changed our Dockerfile nor our GitHub workflow pipeline.

Our pipeline invocation of the plugin:
[code]
And our Dockerfile:
[code]

[2021-01-06 10:54] Morriz commented on #81
This is probably a duplicate of the closed #71 which was not really attended to.

[2021-01-06 12:55] whoan commented on #81
Hi @Morriz . Thanks for using this GitHub action.

I have made some tests on [this repo](https://github.com/whoan/hello-world) and it seems it is working as expected:

- Invalidated cache (both in intermediate stage and final image): https://github.com/whoan/hello-world/runs/1656334335?check_suite_focus=true
- Invalidated cache only in final image: https://github.com/whoan/hello-world/runs/1656347

[2021-01-13 15:18] Morriz commented on #81
Closing this due to own error: conflicting github repo was publishing at exactly the folder location causing problems. Forgot to disable publication after migration. Doh!

[2021-01-13 15:18] #81 closed

[2021-01-14 13:56] mdegis opened #82 "Multi-Platform Docker Builds"
Currently, I did not find any settings or variables that could be used to trigger multi-platform Docker builds.

With M1 MBPs, arm64 architecture is (and will be more) mainstream IMO.
Is this something you considered to support near-future?

[2021-01-14 15:12] whoan commented on #82
You have a very valid point @mdegis . I will take a look sometime soon.
I think we need `docker buildx` to do so. Feel free to make suggestions/PR.

[2021-01-15 11:15] MoSattler opened #83 "Is compose file extension supported?"
Hi @whoan, great work on this action, it's super useful! Thanks a ton for this!

I am using multiple docker compose files in my CI.

For testing/linting etc:
[code]

and for running my E2E tests and building the production images:
[code]

For the latter, I am not sure how to specify the inheritance in the action. Basicly I want to do something like this
[code]

is anything like that possible?

[2021-01-18 09:45] tom10271 opened #84 "Not working for AWS ECR: No images detected for registry (***.dkr.ecr.us-west-2.amazonaws.com)"
I got this `No images detected for registry (***.dkr.ecr.us-west-2.amazonaws.com)`

[code]

What would be wrong? aws cli is working fine

[2021-01-18 10:01] tom10271 commented on #84
Oh I passed compose_file to the action. If I point it to my Dockerfile then it is working

[2021-01-18 10:01] #84 closed

[2021-01-23 23:32] whoan commented on #83
Hi @MoSattler . So you are asking to support multiple compose files, right? It is confusing for the inheritance part of the issue title.

[2021-01-24 00:04] MoSattler commented on #83
@whoan Yes! I am talking about this:
https://docs.docker.com/compose/extends/#multiple-compose-files

[2021-01-25 16:55] sam-hoffman opened #85 "Use container in next step of action"
Is it possible to use the built/cached container in the next step of the github action?

Ideally, I'm hoping for something like this:

[code]
Thanks in advance!

[2021-01-25 17:21] whoan commented on #85
@sam-hoffman Please try using the full name of the image. Check [FULL_IMAGE_NAME](https://github.com/whoan/docker-build-with-cache-action#outputs)

[2021-01-25 20:23] sam-hoffman commented on #85
Do you mean I should use the address to pull the container back from the repo? I'd like to use the local version of the container as built or (preferably) cached by your action. Is that possible?

[2021-01-25 20:43] whoan commented on #85
That address is the Fully Qualified Image Name, and yes, you should use that name. You can also try using **my_awesome_image** name which is the name the action uses internally, but that is an implementation detail.

[2021-01-28 09:33] silky opened #86 "Two small bugs/assumptions in ./entrypoint.sh related to docker-compose"
Hey! Thanks so much for this plugin; it will be really handy :)

I'm trying to use it with a simple docker-compose file and I found that the script crashed in the this function: https://github.com/whoan/docker-build-with-cache-action/blob/master/entrypoint.sh#L66

The reason is twofold:

1. I had an underscore in my service-name, which your regex doesn't allow for:

[code]

2. i also didn't explic

[2021-01-28 10:14] silky opened #87 "Bug when pushing stages if docker-compose file specifies two (or more!) images"
This is the bug:

![image](https://user-images.githubusercontent.com/129525/106123148-79e18480-6151-11eb-911e-93b7e86f0333.png)

If I was to guess, it's because in a few places in entrypoint.sh you expect only one image:

[code]

[2021-01-28 10:34] silky commented on #87
glancing at the source, i can't even see how one of these commands could be run after logout is run, however ....

[2021-01-28 10:38] silky commented on #87
it's because it happens when pushing the stages i think

[2021-01-29 01:34] whoan commented on #86
Many thanks for opening this issue @silky . Your feedback was very much appreciated.
I am releasing a new version with the fix. Feel free to repoen if you still see any issue.

[2021-01-29 01:34] #86 closed

[2021-01-29 01:35] whoan commented on #85
Closing this one as there is no issue to solve.

[2021-01-29 01:35] #85 closed

[2021-01-29 07:47] silky commented on #87
hey @whoan thanks so much for taking a look

i just tried this, and i don't think it's working; here's more details on the error:

[code]

so the crash, as i understand it, happens in the second step of pushing the stages:

[code]

because i never see that second "Pushing stage: 2" ... happen

i don't understand what could be happening

[2021-01-29 07:50] silky commented on #87
note that your test docker-compose file doesn't test this scenario - https://github.com/whoan/hello-world/blob/master/docker-compose.yml - because it only has one image file for github, whereas in my example i have two:

[code]

[2021-01-29 11:44] whoan commented on #87
@silky But I have two images for Doker Hub in my test compose file. I wonder if it is because one image name in your example is the prefix of the other image name. Will check in that direction.

[2021-01-30 01:00] #87 closed

[2021-01-30 09:46] silky commented on #87
Thanks @whoan ; that fixed it :)

[2021-02-02 03:43] #83 closed

[2021-02-08 22:53] bob-bins opened #91 "Unable to pass in a multiline string in build arg"
This config does not work:

`build_extra_args: --build-arg some_arg="$multiline_string"`

For

[code]

I get an error like:

[code]

However, this *does* work if I run the equivalent docker build command using the cli.

[2021-02-09 13:29] whoan commented on #91
@bob-bins I should allow something like JSON in `build_extra_args` to support your use case. I can give it a try today or tomorrow. On the other hand, using an env variable might be more appropriate (just an opinion) in your scenario and you don't have to wait until I have the fix.

[2021-02-09 17:38] bob-bins commented on #91
What do you mean by "using an env var"? Do you mean hardcoding the value directly in the Dockerfile? If so I cannot do that as the value is a secret that I don't want checked into code.

[2021-02-09 17:53] whoan commented on #91
With `ARG` you will have the secret as part of your image, with [`ENV`](https://docs.docker.com/engine/reference/builder/#env) you can override/set with `docker run --env <key>=<value>`

[2021-02-09 18:03] bob-bins commented on #91
Wouldn't `--env` run into the same issue as `--build-args` since they are all parsed the same way in here https://github.com/whoan/docker-build-with-cache-action/blob/118708cf883bf7bcd2b659ecf5753c1cab7e22cc/docker-build.sh#L283?

[2021-02-09 18:16] whoan commented on #91
Not really as you don't have to run `docker run` in the action. In addition, you have options to _forward_ the environment variable to the container:

- `docker run -e SOME=THING ...`
- `docker run --env-file envfile ...`
- `SOME=THING docker run -e SOME ...` or `export SOME=THING;  docker run -e SOME ...`

[2021-02-09 18:36] bob-bins commented on #91
Oh I see what you mean. Unfortunately I need this value at build time so injecting it at runtime will not work for me. I'll just keep a lookout for the fix to the `build_extra_args ` multiline parsing. Thank you!

[2021-02-11 14:24] whoan commented on #91
@bob-bins Could you please try with branch [support-json-for-extra-build-args](https://github.com/whoan/docker-build-with-cache-action/tree/support-json-for-extra-build-args)?

    - uses: whoan/docker-build-with-cache-action@support-json-for-extra-build-args

You will have to use something like this:

    build_extra_args: '{"--build-arg": "myarg=Hello\nWorld"}'

[2021-02-13 07:23] whoan commented on #82
@mdegis I think this action does what you want: https://github.com/docker/setup-buildx-action

[2021-02-17 17:46] bob-bins commented on #91
Hey sorry for the late response!!

For the `--target` extra arg, it's giving an error when i include quotations for the value since it parses it as literally part of the value: `build_extra_args: '{"--target": "release"}'`. The solution is to not have the quotations, which means it's no longer valid json which contradicts the README.

[code]

I attempted it again and it didn't work for me when I p

[2021-02-23 23:29] mlissner commented on #84
I ran into the same issue. In my case, it was because I wasn't pushing the built images, so I hadn't provided the username parameter. Apparently it's required regardless.

[2021-03-01 21:38] ahmadfaraz629 opened #94 "Pass Multiple --build-arg to Docker file. Only First one is picked"
Hi I need to pass 3 arguments to the docker file I am using the action like this.

![image](https://user-images.githubusercontent.com/17162601/109562673-81090300-7b00-11eb-8e9a-08224986a6be.png)

`    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      uses: whoan/docker-build-with-cache-action@v5
      with:
        username: "${{ secrets.AWS_ACCESS_KEY_ID }}"
        pas

[2021-03-02 13:39] whoan commented on #94
Hi @ahmadfaraz629 . That's strange. My [build has just succeeded](https://github.com/whoan/hello-world/runs/2013555336) with the same extra args:

    + docker build --cache-from=whoan/hello-world-stages:1 --cache-from=whoan/hello-world-stages:2 --cache-from=whoan/hello-world-stages:3 --cache-from=whoan/hello-world-stages:4 --cache-from=whoan/hello-world-stages:5 --tag my_awesome_image --file ./Do

[2021-03-05 04:34] whoan commented on #94
The tests shows that the action is working correctly. Feel free to reopen with action output to debug further.

[2021-03-05 04:34] #94 closed

[2021-03-24 11:56] MaximeMYCS opened #95 "build_extra_args json syntax does not handle multiple args"
Using this `Dockerfile`:

[code]

And this workflow:
[code]

It seems that the build arguments are not passed correctly: only the last one is kept. Below is the docker command line issued from the run of this workflow.
[code]

Is it because of a wrong syntax in the `json` description of arguments ? It seems to be working fine for a single argument but I haven't been able to make it work for more t

[2021-03-27 20:53] ylavoie opened #96 "Push images and stages always pushed"
Using this workflow:

[code]

I'm finding that my images are always pushed on dockerhub on every PR.
Our processes allow test images for developer push on their forks but only on merges on the main repository. PR on main repository trigger the workflow but not the deployment of images, unless they are merged into master.

Please advise.

[2021-04-02 01:30] erran opened #97 "Unable to export a variable named NAMESPACE in GITHUB_ENV"
Setting a variable called `NAMESPACE` caused some confusion when this action started failing suddenly using a private ECR repository (without a namespace).

I managed to track it down to this code in [`_set_namespace`](https://github.com/whoan/docker-build-with-cache-action/blob/86b305ae784f/docker-build.sh#L66-L70)
[code]

I simply renamed the environment variable in my case but wanted to create

[2021-04-10 18:56] zainab81 commented on #97
Ok

[2021-04-10 19:21] #97 closed

[2021-04-10 19:21] erran commented on #97
Closing this — meant to close it after opening. If the maintainers think it makes sense to create an alt name for that environment variable or not 🤷🏽‍♂️

[2021-05-02 12:11] hingston commented on #82
Can docker/setup-buildx-action be used with this action? I can't see how

[2021-05-03 21:56] jschmidtnj commented on #95
I wrote something to fix the issue (see https://github.com/jschmidtnj/docker-build-with-cache-action/commit/562d9b5fb9d7816f93a3526a4aaa79859b850403). It's sort of a hack, but I couldn't figure out a way to get jq to accept duplicate keys (see https://github.com/stedolan/jq/issues/1636). to use it, just append `-0`, or a dash followed by any unique number, to the end of a duplicated flag. for 2 bu

[2021-06-09 00:34] blampe opened #98 "YAML is not parsed correctly"
I originally discovered this as a bug where a docker-compose file containing `image:` would also require setting `build: context:`

For example, this docker-compose file should build successfully:

[code]

using this workflow:

[code]

however it fails with the following:

[code]

Expanding the docker-compose to
[code]

resolves the issue, but this should not be needed -- we have all of the inform

[2021-07-13 09:04] estrehle opened #99 "AWS ECR: Minimal permissions"
First of all, thank you for writing this! The caching works like a charm.

For the AWS ECR example, it might be helpful to add the minimal IAM permissions required to run this action. I got it to work with the following policy. But I am not 100% sure all of them are necessary. Would appreciate your feedback.

[code]

[2021-07-15 06:36] genieai-vikas opened #100 "How to have multi docker build stages"
I have this stage.

[code]

can we use multi-docker build with  `whoan/docker-build-with-cache-action`?

[2021-07-20 21:54] whoan commented on #100
@genieai-vikas You can try using a docker-compose file or using the action multiple times.

[2021-07-20 21:54] #100 closed

[2021-10-15 14:19] Bilge opened #101 "Does this require a registry for caching to work?"
One thing the readme never makes clear, even though you can disable the registry feature, does this mean caching won't work or not? If not, how does caching work without a registry? Where is the cache saved to?

[2021-10-15 17:27] #101 closed, assigned to nobody

[2021-10-24 15:00] oreporan opened #102 "push_image_and_stages pushes twice"
Hi,
I'm building a multi stage docker image.
The final image I want to upload to ECR and I've provided a `image_name` and `image_tag`.
However I would like to **not** push the `*-stages` image as well..

What is happening right now is that its pushing to image to ECR (not with the same IMAGE_ID)

[code]

[2021-10-25 08:24] #102 closed, assigned to nobody

[2021-10-25 08:29] oreporan opened #103 "Don't logout between steps"
Hey, I'm using your action in multiple steps,
seems like a waste to run this between each 2 steps:

[code]

[2021-11-11 18:55] #103 closed

[2021-11-11 18:58] whoan commented on #99
@estrehle I don't remember to have dealt with permission issues when I tested the actin in aws. Did you came up with the minimal cfg needed to run the action in AWS? It would be great if you can share it as a PR or a comment here.

[2021-11-22 02:17] aradhakrishnanGFDL opened #104 "Issue running with AWS public ecr"
I followed [this issue](https://github.com/whoan/docker-build-with-cache-action/issues/79) and it's great that there is support for this action with an AWS public ECR image.

However, I am unable to run my actions successfully. In the [hello-world example](https://github.com/whoan/hello-world/actions/runs/456885584/workflow) provided, is it correct that the registry alias does not have to be speci

[2021-11-22 16:28] aradhakrishnanGFDL commented on #104
Testing further, [this](https://github.com/whoan/docker-build-with-cache-action/blob/master/docker-build.sh#L175:L178
) might be where there is an exception thrown that causes the following: (since the registry_alias is supplied as part of the image_name in the yml)

An error occurred (RepositoryNotFoundException) when calling the DescribeImageTags operation: The repository with name 'cregistry_al

[2021-11-22 23:12] whoan commented on #104
Hey @aradhakrishnanGFDL . Thanks for reporting the issue.
I haven't used the action in AWS for a while now, but looking at [the example I wrote in the readme](https://github.com/whoan/docker-build-with-cache-action#aws-ecr) you just need to provide the image name (**image-name-test** instead of **image-name/image-name-test**). Have you tried that?

I will try to get to it at the weekend...

[2022-02-15 19:12] pwerth opened #105 "Issue running container locally"
I am using this library to build an image from a GHCR cache, as follows:

[code]

I then want to run the container as part of my workflow:

[code]

However, this yields `docker: Error response from daemon: pull access denied for my-test-image, repository does not exist or may require 'docker login': denied: requested access to the resource is denied.`

What is the proper syntax to run the image th

[2022-02-15 21:38] whoan commented on #105
I think you just need to provide the full path to the image. Please look at the registry and give the full name (tag included)

[2022-04-19 13:21] anton-buyskikh opened #106 "image_name is substituted by my_awesome_image"
Even though I define `image_name: my_image_name` in the workflow, the log shows that it's tagged like this:
[code]

My current solution is to add `build_extra_args: "--tag my_image_name"` which leads to the following
[code]

Is it a bug?

[2022-06-08 06:53] matteo-rossi-wise commented on #106
The issue is [here](https://github.com/whoan/docker-build-with-cache-action/blob/86b305ae784f30b8dfa1827c60c7eae37a6e00f1/docker-build.sh#L310) in the `build_image()` function. The fun fact is that I can't see the `my_awesome_image` tag in the `-stages` located images. Since this is a bit misleading I think that the `--tag` directive could be omitted if none is passed, or is it used as a default a

[2022-06-08 16:56] anton-buyskikh commented on #106
Yeah, the issue is that DUMMY_IMAGE_NAME is used instead of INPUT_IMAGE_TAG

[2022-06-22 12:30] AndreuJove commented on #95
Hi guys I'm facing the same error, Do we have any update on this?

- INPUT:

![image](https://user-images.githubusercontent.com/52964120/175028501-b198c450-3643-4fce-a5af-b1e02d5471af.png)

- OUTPUT:

![image](https://user-images.githubusercontent.com/52964120/175028729-a0c89416-b6be-4ef6-8baf-717bc932bb45.png)

---

Using `--build-arg-0` is not either working:

- INPUT:

![image](https://user-ima

[2022-06-23 11:36] Sundin opened #107 "Self-hosted runners and ECS"
Hi! We run our Github Actions on self-hosted runners (hosted on AWS). The runners themselves have access to the ECR registry where we store our Docker images, as demonstrated by step 3 in my example below. However, the docker-build-with-cache-action does not get access, presumably because it runs inside a Docker environment which does not "inherit" the proper credentials. Maybe it has to do with t

[2022-08-17 07:36] lukasa1993 commented on #82
any love for this?

[2022-10-14 04:38] emmaai opened #108 "Set INPUT_SESSION=$AWS_SESSION_TOKEN if no input provided"
`INPUT_SESSION` can be only set by providing `session` atm. If login by `aws-actions/configure-aws-credentials` with assumed-role, the env variable `AWS_SESSION_TOKEN` is set. Currently it can grab all the other credential related info from env, it'd be great if grab an extra. Happy to pr on it.

[2022-10-14 09:11] whoan commented on #108
Hi @emmaai I haven't had time to spend to spend on the action. Please submit a PR if you know how to do it and test it. Thanks.

[2022-10-16 13:48] whoan commented on #99
Closing as I didn't hear back and I didn't have to set a policy to use the action...

[2022-10-16 14:08] #105 closed

[2022-10-17 04:50] emmaai commented on #108
I was about to then realised I don't have access. Thanks for fixing it. :)

[2022-10-17 20:17] #108 closed

[2022-10-17 21:25] whoan commented on #96
Hi @ylavoie, I am trying to catch up with the pending work on this action. Could you please tell me if you fix the issue somehow?
It's not clear for me what the issue is. It's pushing when you don't want to, or the problem is that it doesn't push when you want to?

[2022-10-17 21:31] whoan commented on #106
@anton-buyskikh `DUMMY_IMAGE_NAME` is used internally up to the point where it is renamed/tagged to the correct name: https://github.com/whoan/docker-build-with-cache-action/blob/7210dca924e2463bb97970841b186e824b9411a8/docker-build.sh#L102

What's the issue concern here? Is it just the log being misleading?

[2022-10-17 22:39] whoan commented on #107
According to [configure-aws-credentials' docs](https://github.com/aws-actions/configure-aws-credentials#self-hosted-runners), when you use self-hosted runner that already has access to AWS credentials, the actions will use the runner's credentials which not necessarily be the env variables which this action is expecting.

I think we have two options here:

1. If you use `role-to-assume` in `aws-ac

[2022-10-17 22:45] whoan commented on #91
Closing as dup of #95

[2022-10-18 11:12] anton-buyskikh commented on #106
The issue 6 months ago was that `image_name` was ignored or overwritten by `my_awesome_image`
So my walk-round back then was:
[code]

Since it was 6 months ago, the issue might have been already resolved.

[2022-10-19 20:53] whoan commented on #98
HI @blampe . Sorry I haven't had time to work on this action before.

So we have a bunch of things here. Let me try to summarize and understand them:

1. The compose file needs a `context` so the actions can build the image: I think [the action should use `.` by default](https://github.com/whoan/docker-build-with-cache-action/blob/7210dca924e2463bb97970841b186e824b9411a8/entrypoint.sh#L110-L111).

[2022-10-20 07:24] whoan commented on #98
Thanks for your prompt answer @blampe
I will fix the default context bug on this issue and will create a separate issue for the comments in the yaml as I think that using a yaml parser will be a bigger effort and will take more time.

[2022-10-20 20:50] #95 closed

[2022-10-20 21:26] whoan opened #111 "Comments in compose file are not being ignored"
The action should ignore any comments in the compose after the value it need to retrieve. eg:

    image: docker.pkg.github.com/whoan/hello-world/gh-2:latest # some comment here

Example of error: https://github.com/whoan/hello-world/actions/runs/3292978364/jobs/5428976456#step:5:114

Failing test: https://github.com/whoan/hello-world/pull/4

[2022-10-20 22:20] whoan commented on #106
Thanks for your answer @anton-buyskikh . I see the image correctly being renamed/tagged at the end so this is not an issue. `my_awesome_image` is used internally by the action, so although it may be misleading, I see the action creating the image with correct name.
Thanks again for your input. I am closing this one.

[2022-10-20 22:36] #98 closed

[2022-10-21 10:48] saintevil opened #113 "The `set-output` command is deprecated and will be disabled soon."
Warning: The `set-output` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

[2022-10-21 11:20] anton-buyskikh commented on #106
Hi @whoan, thanks for the quick reply! However, I think there is still something not quite right, I might have not explained it clearly in the first place. I'd like to know whether it's a bug or a desired feature:

If I use
[code]

This action correctly creates a _package_ `ghcr.io/<username>/foo_name` (and `ghcr.io/<username>/foo_name-stages`). That's all cool!

The issue is that when the _image_

[2022-10-22 20:57] whoan commented on #106
Hi again @anton-buyskikh. Thanks again for your response.

Could you please clarify this sentence?:

Isn't this package the same as the docker image in GitHub? I think I'm missing something. You can tag what you are building in any way and then you can (re)tag it again to the final name you want for the image. I don't remember now why I decided to use a temporary image name but I'll try to find th

[2022-10-22 21:36] #111 closed

[2022-10-24 17:56] #106 closed

[2022-10-24 17:57] #113 closed

[2022-10-25 18:21] whoan commented on #82
I gave it a try to this one (again) and still think it's a very big effort. Are there many people looking for this feature? If so, could you please share some use cases?

[2022-11-06 14:45] rix1337 commented on #113
@whoan could you release this so the deprecation notice disappears from our builds? 🙏🏻

[2022-11-07 08:19] rix1337 opened #117 "Cache and Publish to seperate Registries/Repositories"
To keep my main Docker Hub account clean, I would love to push cached builds to a separate account or registry.

If that is possible right now, I did not manage to achieve it.
If that is not possible right now, I would love to see this implemented.

Thanks for your consideration @whoan !

[2022-11-07 08:24] whoan commented on #117
HI @rix1337 . I have considered that feature in the past and the complication it brings is that we'd need a separate set of credentials to do so.
Let me think a little more about it though. Maybe it's worth it at the end.

[2022-11-07 08:30] whoan commented on #113
I am waiting to be have some time to write more tests in https://github.com/whoan/hello-world repo (the one I use to test this action) and then I'll feel comfortable to release. I mainly need to learn how to set a role in AWS as I am not covering that in current tests.

In the meantime, as a workaround, I think you could use the hash of tip of master as the version in your workflow to use latest f

[2022-11-07 08:32] rix1337 commented on #117
Okay, so I did not overlook something trying to set it up.

Complexity is a valid reason to not implement this, though.

[2022-11-07 08:34] rix1337 commented on #113
Thanks for the workaround @whoan
I agree its not as clean but a last resort if the release takes longer.

Deprecation is scheduled for Summer 2023, so we can of course wait.

[2022-11-08 18:58] inodb commented on #82
We are also looking for this feature. Many people use the docker setup of our tool cBioPortal (https://github.com/cBioPortal/cbioportal) on their local machines during development

[2022-11-17 19:03] aktech commented on #107
@Sundin By the way, if you want a no-maintenance method to achieve that, you can use [cirun.io](https://cirun.io) for the same.

[2022-11-19 23:56] #104 closed

[2022-11-19 23:57] whoan commented on #96
Feel free to reopen with more information....

[2022-11-19 23:57] #96 closed

[2022-11-20 00:19] whoan commented on #107
Closing this as it can be solved simply by using `role-to-assume` so the env vars are set as explained in https://github.com/whoan/docker-build-with-cache-action/issues/107#issuecomment-1281583741

[2022-11-20 00:19] #107 closed

[2022-11-26 07:13] whoan commented on #117
Hi @rix1337 . What about pushing stages as different tags in the same repository?

[2022-11-26 07:38] rix1337 commented on #117
The main reason for this request is that my docker hub account is now cluttered with cache repos.

It's not bad, but just does not look clean ;)